/* Basic style for links */
a {
  text-decoration: none;
  font-family: "Instrument Serif Italic";
}

/* Navigation */
.navigation-wrapper {
  display: flex;
  justify-content: center;
}

.navigation {
  z-index: 1;
  width: 100%;
  padding: 0 25px;

  display: flex;
  justify-content: start;
  align-items: center;

  border-bottom: var(--pink) solid 1.5px;
  background-color: var(--green);

  font-size: var(--default-font-size);
}

@media (max-width: 700px) {
  .navigation {
    margin: 0 2px;
    border: var(--pink) solid 1.5px;
    border-radius: 50px;
  }
}

.navigation-link {
    margin: 10px; 
    color: var(--foreground);

    font-size: 40px;
    -webkit-text-stroke: var(--foreground) 1px;

    transition: all 0.2s ease;
    transform: skew(0deg, 4deg);
}

.navigation-link:nth-child(even) {
    transform: skew(0deg, -4deg);
}

/* If nav-link with even index is hovered, it skews up */
.navigation-link:nth-child(even):hover {
    transform: skew(0deg, 4deg);
}

/* If nav-link with even index is hovered, the odd indexes skew down */
.navigation:has(.navigation-link:nth-child(even):hover) .navigation-link:nth-child(odd) {
    transform: skew(0deg, -4deg);
}

/* Different skew on navigation links */
.navigation-link-alt {
    margin: 10px; 
    color: var(--foreground);

    font-size: 40px;
    -webkit-text-stroke: var(--foreground) 1px;

    transition: all 0.2s ease;
    transform: skew(0deg, -4deg);
}

.navigation-link-alt:nth-child(even) {
    transform: skew(0deg, 4deg);
}

.navigation-link-alt:nth-child(odd):hover {
    transform: skew(0deg, 4deg);
}

.navigation:has(.navigation-link-alt:nth-child(odd):hover) .navigation-link-alt:nth-child(even) {
    transform: skew(0deg, -4deg);
}

/* Create Navigation Link Animation */
 .active-link {
    color: var(--pink);
    -webkit-text-stroke: var(--pink) 1px;
}