/* Declare variables */
:root {
  --background: #171717;
  --foreground: #ededed;
  --green: #0c7c59;
  --blue: #0000FF;
  --lightblue: #88baf7;
  --orange: #FE5F00;
  --lilac: #a280ff;
  --pink: #edb3e0;
  --brown: #56351E;
  --default-font-size: 60px;
}

/* Change how text selection looks */
::selection {
  color: var(--lightblue);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--brown);
}

::-webkit-scrollbar-thumb {
  background-color: var(--pink);
  border-radius: 15px;
  border: var(--lightblue) solid 1.5px;
}

/* Set font for use in this document */
@font-face {
  font-family: "Instrument Serif";
  src: url(fonts/InstrumentSerif-Regular.ttf);
}

@font-face {
  font-family: "Instrument Serif Italic";
  src: url(fonts/InstrumentSerif-Italic.ttf);
}

/* Body style */
body {
  margin: 0;
  color: var(--foreground);
  background: var(--background);

  font-family: "Instrument Serif";
}

/* Styling page content */
.container {
  width: 100%;
}

/* If screen is wider than 700px, set width to 700px
@media (min-width: 700px) {
  .container {
    width: 700px;
  }
} */

.loading {
  text-align: center;
  margin: 20px;
  padding: 20px;
  font-size: var(--default-font-size);
  line-height: 74%;
  color: var(--pink);
}

.page-text {
    font-weight: 900;
  margin: 20px;
  padding: 15px;
  font-size: var(--default-font-size);
  line-height: 74%;

  color: var(--pink);
  background-color: var(--brown);
  text-shadow: 
    -2px -2px 0 var(--brown),
     2px -2px 0 var(--brown),
    -2px  2px 0 var(--brown),
     2px  2px 0 var(--brown);

  border-radius: 15px;
  border: var(--lightblue) solid 1.5px;
}

h1, h2, h3, h4 {
  text-align: center;
}

li {
  list-style-type: "-";
  margin: 20px 0;
}

li:nth-child(odd) {
  color: var(--foreground);
}