/* Declare variables */
:root {
  --background: #171717;
  --foreground: #ededed;
  --green: #0c7c59;
  --blue: #0000FF;
  --orange: #FE5F00;
  --lilac: #a280ff;
  --default-font-size: 60px;
  --default-border: var(--foreground) solid 0.9px;
}

/* Change how text selection looks */
::selection {
  color: var(--lilac);
}

/* Set font for use in this document */
@font-face {
  font-family: "Instrument Serif";
  src: url(fonts/InstrumentSerif-Regular.ttf);
}

@font-face {
  font-family: "Instrument Serif Italic";
  src: url(fonts/InstrumentSerif-Italic.ttf);
}

/* Body style */
body {
  margin: 10px;

  color: var(--foreground);
  background: var(--background);

  font-family: "Instrument Serif";
}

/* Styling page content */
.container {
  width: 100%;
}

/* If screen is wider than 700px, set width to 700px
@media (min-width: 700px) {
  .container {
    width: 700px;
  }
} */

.page-text {
  padding: 15px;
  font-size: var(--default-font-size);
  line-height: 74%;
  text-shadow: 
    -2px -2px 0 var(--background),
     2px -2px 0 var(--background),
    -2px  2px 0 var(--background),
     2px  2px 0 var(--background);

  border-radius: 15px;
  border: var(--default-border);
}

/* Basic style for links */
a {
  text-decoration: none;
  font-family: "Instrument Serif Italic";
}

/* Navigation */
.navigation-wrapper {
  display: flex;
  justify-content: center;
}

.navigation {
  z-index: 1;
  width: 400px;
  padding: 0 25px;
  margin-bottom: 10px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  border-radius: 100%;
  border: var(--default-border);
  background: linear-gradient(180deg, var(--foreground) 0%, #0c7c59 55%);

  font-size: var(--default-font-size);
}

.navigation-link {
  color: var(--lilac);
  transition: all 0.3s ease;
  text-shadow: 0;
  text-shadow: 
    -1px -1px 0 var(--green),
     1px -1px 0 var(--foreground),
    -1px  1px 0 var(--lilac),
     1px  1px 0 #0a5550;
}

/* Create Navigation Link Animation */
.active-link {
  transform: scaleX(220%);
}

.non-active-link {
  transform: scaleX(100%);
}

.navigation:has(.non-active-link:hover) .active-link {
  transform: scaleX(100%);
}

.non-active-link:hover {
  transform: scaleX(220%);
}