/* Declare variables */
:root {
  --background: #171717;
  --foreground: #ededed;
  --green: #0c7c59;
  --blue: #0000FF;
  --lightblue: #88baf7;
  --orange: #FE5F00;
  --lilac: #a280ff;
  --pink: #edb3e0;
  --brown: #56351E;
}

/* Change how text selection looks */
::selection {
  color: var(--lightblue);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--green);
  
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  border: var(--pink) solid 1.5px;
}

/* Set font for use in this document */
@font-face {
  font-family: "Instrument Serif";
  src: url(fonts/InstrumentSerif-Regular.ttf);
}

@font-face {
  font-family: "Instrument Serif Italic";
  src: url(fonts/InstrumentSerif-Italic.ttf);
}

/* Body style */
body {
  margin: 0;
  overflow-x: hidden;

  color: var(--foreground);
  background: var(--background);

  font-family: "Instrument Serif";
}

/* Styling page content */
.container {
  width: 100%;
}

/* If screen is wider than 700px, set width to 700px
@media (min-width: 700px) {
  .container {
    width: 700px;
  }
} */

.loading {
  text-align: center;
  margin: 20px;
  padding: 20px;
  font-size: 60px;
  line-height: 74%;
  color: var(--pink);
}

.page-wrapper {
  display: flex;
  justify-content: center;
  column-gap: 0;
  flex-wrap: wrap;
}

.page {
  max-width: 700px;
  margin: 15px;
  padding: 15px;

  color: var(--foreground);
  background-color: var(--brown);

  text-shadow: 
    -1px -1px 1px var(--brown),
     1px -1px 1px var(--brown),
    -1px  1px 1px var(--brown),
     1px  1px 1px var(--brown);

  border: var(--pink) 1.5px solid;
  border-radius: 15px;
}

.page-text {
  padding: 0 10px;
  font-family: sans-serif;
  letter-spacing: -1px;
  font-size: 30px;
  line-height: 90%;
}

@media (max-width: 700px) {
  .page {
    margin: 10px 2px;
    border-radius: 50px;
  }
}

h1, h2, h3, h4 {
  margin: 20px 0 40px;
  line-height: 54%;
  color: var(--pink);
  text-shadow: 
    -1px -1px 1px var(--brown),
     1px -1px 1px var(--brown),
    -1px  1px 1px var(--brown),
     1px  1px 1px var(--brown);
  -webkit-text-stroke: var(--pink) 1px;
  text-align: center;

  font-size: 60px;
  font-weight: 400;
  font-family: "Instrument Serif Italic";
}

@media (max-width: 700px) {
  h1, h2, h3, h4 {
    margin: 20px 0 40px;
    font-weight: 400;
  }
}

ul {
  padding: 0;
  list-style-type: ":";
}

.nested {
  padding: 0 0 0 20px;
}

li {
  margin: 20px 0;
}

@media (max-width: 700px) {
  li {
    list-style-type: ":";
    margin: 10px 0;
  }
}