*,
*:after,
*:before {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* overflow-y: hidden; */

    background-color: #FDFFFC;
    color: #040404;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0%;
    background-color: #BFD7EA;
    border-top: #040404 1px solid;
}

.container {
    padding: 10px 10px 60px;
}

h1 {
    font-weight: 400;
}

.page-title {
    font-family: serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-size: 30px;

    letter-spacing: -1px;
    line-height: 90%;
    margin-bottom: 10px;
}

.page-text {
   font-family: Arial, Helvetica, sans-serif;
   letter-spacing: -0.3px;
   margin-top: 5px;
   max-width: 800px;
   columns: 2;
   column-gap: 20px;
   /* text-align: justify; */
}

/* Navigation */
.navigation {
    display: flex;
    justify-content: center;
    column-gap: 10px;

    font-size: 16px;
    letter-spacing: -0.4px;
    padding: 10px;
}

@media (max-width: 500px) {
    .navigation {
        justify-content: space-between;
    }
}

.links {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.navigation-title {
    padding: 2px 8px;

    background-color: #040404;
    color: #FDFFFC;

    outline: 1px solid #040404;
    border-radius: 100px;
}

.navigation-link {
    padding: 2px 8px;
    background-color: #FDFFFC;
    outline: 1px solid #040404;
    border-radius: 100px;
    cursor: pointer;
}

a {
    color: currentColor;
    text-decoration: none;
}

a.link {
    font-family: serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

/* Post Styles */
ul {
    list-style-type: none;
}

.posts {
    margin: 0 auto;
    columns: 4 auto;
    column-gap: 1rem;
}

.post-card {

    border-radius: 200px 200px 10px 10px;

    width: 200px;
    height: fit-content;
    margin-bottom: 20px;

    background-color: #C4D6B0;
    color: #040404;

    outline: 1px solid #040404;
}

@media (max-width: 380px) {
    .post-card {
        width: 100%;
    }
}

.thumbnail {
    width: 100%;
}

.thumbnail img {
    object-fit: cover;

    
    max-width: 100%;

    border-radius: 200px 200px  0 0;
    outline: 1px solid #040404;
}

.post {
    padding: 5px;
    border-radius: 0 0 10px 10px;
}

.post-title, .post-text {
    padding: 5px;
}

.post-title {
    /* font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
    text-align: center;

    letter-spacing: -1px;
    line-height: 90%; */

    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: -0.3px;
   margin-top: 5px;
}

.post-text {
   font-family: Arial, Helvetica, sans-serif;
   letter-spacing: -0.3px;
   margin-top: 5px;
}

/* Canvas */
.canvas canvas {
    border-radius: 10px;
    outline: 1px solid #040404;
    box-sizing: border-box;
    width: 100%;
    height: 80vh;

}

.canvas{
    width: 100%;
    height: 80vh;
    margin-bottom: 10px;
}



#canvas canvas {
    background-color: #0C7C59;
}

/* Buttons */
.player {
    display: inline;
    padding: 2px 8px;
    background-color: #FDFFFC;
    border: none;
    outline: 1px solid #040404;
    border-radius: 100px;
    margin-right: 10px;
    cursor: pointer;
}