/* For the whole site */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  color: #bfd7ea;
  background-color: #040404;
}

body:has(canvas) {
    overflow-y: hidden;
}

a {
  color: currentColor;
  text-decoration: none;
}

.container:has(.page-text) {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px 15px;
}

/* Page text and title */
.page-title {
  font-size: 16px;
  text-transform: uppercase;

  letter-spacing: -0.4px;

  margin-bottom: 10px;
}

.page-text p {
  font-size: 42px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.page-text a {
  font-style: italic;
}

@media (max-width: 1200px) {
  .page-text p {
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
}

.text {
  max-width: 500px;
}



/* Posting */
ul {
  list-style-type: none;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-content: center;

  font-size: 30px;
}


li.post-card {
  color: #bfd7ea;
  background-color: #040404;
}

.thumbnail img {
    display: block;
    max-width: 100%;

    object-fit: cover;
    z-index: 0;
    opacity: 1;
}

.no-opacity {
  opacity: 0;
}

.post {
    height: 0px;
    padding: 0 5px;
}

.post-description {
    padding: 10px 5px 0px;
}

.post-title {
    z-index: 2;
    position: relative;
    width: fit-content;
    padding: 11px 0px 0px;

    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: -0.4px;
    line-height: 92%;
}

@media (max-width: 440px) {
  .post-title {
    padding: 15px 5px 0px;
    font-size: 20px;
  }
}

/* .posts:has(.post-card:hover) .t {
  border: 0.5px solid rgb(222, 222, 222);
} */

.round {
  padding: 2px 8px;
  box-sizing: border-box;

  background-color: #040404;
  border: 0.5px solid rgb(242, 242, 242);
  border-radius: 100px;
}

.post-description {
  z-index: 4;
  font-size: 80%;

  font-family: 'Georgia', 'Times New Roman', Times, serif;
}



/* Canvas */
.canvas canvas {
  outline: 1px solid #040404;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

.canvas {
  width: 100%;
  height: 100vh;
  margin-bottom: 10px;
}

#canvas canvas {
  background-color: #040404;
}



/* Navigation */
.nav {
  position: sticky;
  top: 0;
  z-index: 20;
  padding: 10px;
  letter-spacing: -0.4px;
}

@media (max-width: 440px) {
  .nav {
    font-size: 20px;
    background-color: #040404;
  }
}

.nav-link-group {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

.nav-link {
  display: inline-block;
  text-align: center;
  padding: 2px 8px;

  background-color: #040404;
  color: #bfd7ea;

  border: 0.5px solid rgb(242, 242, 242);
  border-radius: 100px;

  cursor: pointer;
  text-transform: uppercase;
}

.nav-message {
  padding: 2px 8px;
  background-color: #040404;
  border-radius: 100px;
}

.nav-link:hover,
.nav-link.active {
  font-style: italic;
}

/* Footer */
footer {
  width: 100%;
  position: fixed;
  bottom: 0%;
  z-index: 20;
}



/* Tool navigation */
.tool-nav {
  z-index: 20;
  padding: 10px;
  letter-spacing: -0.4px;
}

.tool-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

@media (max-width: 440px) {
  .tool-buttons {
    justify-content: space-between;
  }
}


.tool-buttons button {
  display: inline-flex;
  padding: 2px 8px;

  background-color: #040404;
  color: #bfd7ea;

  border: 0.5px solid #f2f2f2;
  border-radius: 100px;

  cursor: pointer;

  text-transform: uppercase;
  font-size: 16px;

  text-align: center;
}

@media (max-width: 440px) {
  .tool-buttons button {
    font-size: 20px;
  }
}



/* Color input */
.tool-color-input {
  display: flex;
  justify-content: center;
}

.tool-color-input input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  margin: 0px 5px;
  padding: 0;

  height: 30px;
  width: 26px;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media (max-width: 440px) {
  .tool-color-input input {
    height: 30px;
    width: 30px;
  }
}

.tool-color-input input::-webkit-color-swatch {
  padding: 0;

  border-radius: 100px;
  border: 0.5px solid #f2f2f2;
}

